.App {
  max-width: 700px;
  margin: 0 auto;
  padding: 30px;
}

.App-header h1 {
  text-align: center;
  font-size: 48px;
  line-height: 70px;
}

.App-footer {
  text-align: center;
  font-size: 14px;
  margin: 15px auto 0;
}

a {
  color: #0c3e3d;
}

a:hover {
  color: white;
}
