.App {
  max-width: 700px;
  margin: 45px auto;

  padding: 30px;

  border-radius: 4px;
}

.App-header {
  margin: 15px;
  text-align: center;
  font-size: 45px;
}

.App-footer {
  text-align: center;
  font-size: 14px;
  margin: 15px auto 0;
}

.App-footer,
a {
  text-decoration: none;
}
